<!DOCTYPE html>

<html>

<head>
  <title>Taylor Swift Albums</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/footer.css" />
  <link rel="stylesheet" href="../static/navbarr.css" />
  <link rel="stylesheet" href="../static/albums.css"/>
</head>

<body>
  <div class="navbar">
       <a class="active" href="home.html"> <i class="fa fa-fw fa-home"></i> Home</a>

  <a href="final_artists.html">Artists</a>
  <a href="about2.html">About</a>
  <a href="search.html">Search</a>
    <a href="spotlight.html">Artist Spotlight</a>
    <a href="{{ url_for('playlist') }}">Playlist</a>
    <a href="" class="current">Albums</a>
  </div>
  <div class="bg">
    <div class="container">
      <div class="artist" style="float: left;">
        <img src="../static/images/taylorr.jpeg" class="artist-img" />

      </div>
      <div style="float: right;">
        <img class="logo" src="../static/images/logo.jpg">
      </div>
      <p>Album List
      <h1>Taylor Swift</h1>
      </p>
      
      <p>Explore the tracks of Taylor Swift- the rarest of pop phenomena: a superstar who managed to completely cross over from country to the mainstream and perhaps the sharpest, savviest populist singer/songwriter of her generation.</p>


    </div>
  </div>


  <div class="second">
    <table>
      <tr class="title">
        <td width="8%"></td>
        <td width="8%"></td>
        <td style="text-align: center;"  width="48%" >Name</td>
        <td style="text-align: center;" width="18%">Number of Songs</td>
        <td style="text-align: center;" width="18%">Year of Release</td>
      </tr>
      <tr class="odd">
        <td class="tick" width="8%">1</td>
        <td style="text-align: left;" width="8%"><a href="{{ url_for('songs_fearless') }}"><img class="smallimg" src="../static/images/fearless.jpeg"></a></td>
        <td style="text-align: left;"  width="48%"><a href="{{ url_for('songs_fearless') }}">Fearless (Taylor's Version)</a></td>
        <td style="text-align: center;" width="18%">26</td>
        <td style="text-align: center;" width="18%">2021</td>
      </tr>
      <tr class="even">
        <td class="tick" width="8%">2</td>
        <td width="8%"><a href="{{ url_for('songs_midnight') }}"><img  class="smallimg" src="../static/images/taylor swift midnights.jpeg"></a></td>
        <td style="text-align: left;"  width="48%"><a href="{{ url_for('songs_midnight') }}">Midnights</a></td>
        <td style="text-align: center;" width="18%">13</td>
        <td style="text-align: center;" width="18%">2022</td>
      </tr>
      <tr class="odd">
        <td class="tick" width="8%">3</td>
        <td width="8%"><a href="{{ url_for('songs_red') }}"><img  class="smallimg" src="../static/images/red.jpg"></a></td>
        <td style="text-align: left;"  width="48%"><a href="{{ url_for('songs_red') }}">Red (Taylor's Version)</a></td>
        <td style="text-align: center;" width="18%">30</td>
        <td style="text-align: center;" width="18%">2021</td>
      </tr>
      <tr class="even">
        <td class="tick" width="8%">4</td>
        <td width="8%"><a href="{{ url_for('songs_evermore') }}"><img  class="smallimg" src="../static/images/evermore.png"></a></td>
        <td style="text-align: left;"  width="48%"><a href="{{ url_for('songs_evermore') }}">Evermore</a></td>
        <td style="text-align: center;" width="18%">15</td>
        <td style="text-align: center;" width="18%">2020</td>
      </tr>
      <tr class="odd">
        <td class="tick" width="8%">5</td>
        <td width="8%"><a href="{{ url_for('songs_reputation') }}"><img  class="smallimg" src="../static/images/rep.jpg"></a></td>
        <td style="text-align: left;"  width="48%"><a href="{{ url_for('songs_reputation') }}">Reputation</a></td>
        <td style="text-align: center;" width="18%">15</td>
        <td style="text-align: center;" width="18%">2017</td>
      </tr>
    </table>
  </div>
  <footer class="foot">
    <div class="f_split">
      <div class="lft">
        <img class="f_logo" src="../static/images/logo.jpg" />
      </div>
      <div class="mid">
        <p>
          Your ultimate destination for expert music reviews and
          recommendations.
        </p>
      </div>
      <div class="rt">
        <div class="abt_links">
          <a href="about2.html">About&nbsp;&nbsp;&nbsp;|</a>
          <a href="home.html">Home</a>
        </div>
      </div>
    </div>

    <hr
      style="color: rgba(247, 241, 241, 0.814); width: 85%; margin-bottom: 1%"
    />
    <p>Follow us</p>
    <div class="socials">
      <a href="https://www.pinterest.com/pin/240590805064809827/">
        <img
          src="../static/images/insta-removebg-preview (copy).png"
          style="width: 50px"
          class="grid_im"
        />
      </a>
      <a
        href="https://twitter.com/MIT_CSAIL/status/1363172815315214336?lang=en"
      >
        <img
          src="../static/images/insta-removebg-preview (3rd copy).png"
          style="width: 50px"
          class="grid_im"
        />
      </a>
      <a
        href="https://www.instagram.com/reel/CoruK8uA1g5/?igshid=YmMyMTA2M2Y="
      >
        <img
          src="../static/images/insta-removebg-preview.png"
          style="width: 50px"
          class="grid_im"
      /></a>
      <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0"
        ><img src="../static/images/yt.png" style="width: 50px" class="grid_im"
      /></a>
    </div>
    <div class="copyright">© Cheeta. All rights reserved.</div>
  </footer>

  <script src="../static/navbar.js"></script>

</body>

</html>