<!DOCTYPE html>



<html>

<head>
    <title>Songs: Lust For Life</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/navbarr.css">
    <link rel="stylesheet" href="../static/songs.css"/>
  <link rel="stylesheet" href="../static/ldr.css">

    <style>
       
        .hi {
            font-size: 105px;
            font-style: italic;
            color: rgb(193, 160, 115);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;


        }

       

        .artist-img {
          padding-left: 6%;
            padding-right: 6%;
            padding-bottom: 6%;
            padding-top: 1%;
            margin-right: 15%;
            width: 20%;
            border-radius: 0%;
            float: left;
            object-fit: cover;
            box-shadow: 0 4px 8px 0 rgba(235, 203, 136, 0.885), 0 6px 20px 0 rgb(9, 9, 13);
        }

        .logo {
            padding: 5px 5px;
            height: 140px;
            width: 200px;
            margin-right: 15px;
            margin-left: 5px;
            margin-bottom: 5px;
            margin-top: 20%;
            border-radius: 8%;

        }


      
    </style>



</head>

<body>
  <div class="navbar">
    <a href="home.html"> <i class="fa fa-fw fa-home"></i> Home</a>
    </a>
    <a href="final_artists.html">Artists</a>
    <a href="about2.html">About</a>
    <a href="search.html">Search</a>
    <a href="spotlight.html">Artist Spotlight</a>
    <a href="{{ url_for('playlist') }}">Playlist</a>
    <a class="current" href="">Songs</a>
</div>
  
  



    <div class="bg">
        <div style="float: right;">
            <img class="logo" src="../static/images/logo.jpg">
        </div>

        <div class="container">
            <!-- <div style="float: left;"> -->
                <img class="artist-img" src="../static/images/lust.jpeg">
            <!-- </div> -->
            <div class="heading" style="float: left;">
                <p class="hi">Lust For Life</p>
            </div>


        </div>

    </div>

   
        <!-- <div class="meet">Meet the Creators</div> -->
       

        <!-- <img src="flow-removebg.png" width="100%"/> -->

        <div class="box2">
          <img src="../static/images/love.jpeg" class="left_img" />
          <div class="creatorleft">
              <p class="head1">Love</p>
            
       <img src="../static/images/cute-removebg-preview.png" width="30%"  />
              <p class="line1">By Lana Del Rey</p>
              <p class="line2">4:32</p>
              <form method="post" action="{{ url_for('add_to_playlist') }}">
                <input type="hidden" name="song_id" value="165">
                <input type="hidden" id="song_name" name="song_name" value="Love">
                <input type="hidden" id="artist_name" name="artist_name" value="By Lana Del Rey">
                <button type="submit">Add to Playlist</button>
            </form>
          </div>
      </div>
        <div class="box2">
            <img src="../static/images/lfl1.jpeg" class="left_img" />
            <div class="creatorleft">
                <p class="head1">Lust For Life</p>
              
         <img src="../static/images/cute-removebg-preview.png" width="30%"  />
                <p class="line1">By Lana Del Rey</p>
                <p class="line2">4:24</p>
                <form method="post" action="{{ url_for('add_to_playlist') }}">
                  <input type="hidden" name="song_id" value="164">
                  <input type="hidden" id="song_name" name="song_name" value="Lust For Life">
                  <input type="hidden" id="artist_name" name="artist_name" value="By Lana Del Rey">
                  <button type="submit">Add to Playlist</button>
              </form>
            </div>
        </div>
      
        <div class="box2">
          <img src="../static/images/lfl2.jpeg" class="left_img" />
          <div class="creatorleft">
              <p class="head1">Groupie Love</p>
             
        <img src="../static/images/cute-removebg-preview.png" width="30%"  />
              <p class="line1">By Lana Del Rey</p>
              <p class="line2">4:24</p>
              <form method="post" action="{{ url_for('add_to_playlist') }}">
                <input type="hidden" name="song_id" value="163">
                <input type="hidden" id="song_name" name="song_name" value="Groupie Love">
                <input type="hidden" id="artist_name" name="artist_name" value="By Lana Del Rey">
                <button type="submit">Add to Playlist</button>
            </form>
          </div>
      </div>

     
        <div class="box2">
            <img src="../static/images/lfl3.jpeg" class="left_img" />
            <div class="creatorleft">
                <p class="head1">Summer Bummer</p>
               
          <img src="../static/images/cute-removebg-preview.png" width="30%"  />
                <p class="line1">By Lana Del Rey</p>
                <p class="line2">4:20</p>
                <form method="post" action="{{ url_for('add_to_playlist') }}">
                  <input type="hidden" name="song_id" value="162">
                  <input type="hidden" id="song_name" name="song_name" value="SUmmer Bummer">
                  <input type="hidden" id="artist_name" name="artist_name" value="By Lana Del Rey">
                  <button type="submit">Add to Playlist</button>
              </form>
            </div>
        </div>
       

        <div class="box3">
            <img src="../static/images/lfl4.jpeg" class="left_img" />
            <div class="creatorleft">
                <p class="head1">White Mustang</p>
                
          <img src="../static/images/cute-removebg-preview.png" width="30%"  />
                <p class="line1">By Lana Del Rey</p>
                <p class="line2">2:44</p>
                <form method="post" action="{{ url_for('add_to_playlist') }}">
                  <input type="hidden" name="song_id" value="161">
                  <input type="hidden" id="song_name" name="song_name" value="White Mustang">
                  <input type="hidden" id="artist_name" name="artist_name" value="By Lana Del Rey">
                  <button type="submit">Add to Playlist</button>
              </form>
            </div>
            
            
            <!-- <img src="cute-removebg-preview.png" width="50%"/> -->
        </div> 
       
  <div>
    <footer class="foot">
        <div class="f_split">
          <div class="lft">
            <img class="f_logo" src="../static/images/logo.jpg" />
          </div>
          <div class="mid">
            <p>
              Your ultimate destination for expert music reviews and
              recommendations.
            </p>
          </div>
          <div class="rt">
            <div class="abt_links">
              <a href="about2.html">About&nbsp;&nbsp;&nbsp;|</a>
              <a href="home.html">Home</a>
            </div>
          </div>
        </div>
    
        <hr
          style="color: rgba(247, 241, 241, 0.814); width: 85%; margin-bottom: 1%"
        />
        <p>Follow us</p>
        <div class="socials">
          <a href="https://www.pinterest.com/pin/240590805064809827/">
            <img
              src="../static/images/insta-removebg-preview (copy).png"
              style="width: 50px"
              class="grid_im"
            />
          </a>
          <a
            href="https://twitter.com/MIT_CSAIL/status/1363172815315214336?lang=en"
          >
            <img
              src="../static/images/insta-removebg-preview (3rd copy).png"
              style="width: 50px"
              class="grid_im"
            />
          </a>
          <a
            href="https://www.instagram.com/reel/CoruK8uA1g5/?igshid=YmMyMTA2M2Y="
          >
            <img
              src="../static/images/insta-removebg-preview.png"
              style="width: 50px"
              class="grid_im"
          /></a>
          <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0"
            ><img src="../static/images/yt.png" style="width: 50px" class="grid_im"
          /></a>
        </div>
        <div class="copyright">© Cheeta. All rights reserved.</div>
    </footer>
</div>
<script src="../static/navbar.js"></script>
</body>
</html>