body {
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(118, 68, 2, 0.384),
      rgba(24, 11, 0, 0.687)
    ),
    url("images/postback.jpeg");

  background-attachment: fixed;
}
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(71, 30, 19, 0.689),
      rgb(23, 13, 4),
      rgb(28, 12, 2),
      rgb(16, 9, 1)
    ),
    url("images/postback.jpeg");

  background-attachment: fixed;
  border-bottom: 1px solid rgb(193, 160, 115);
}
